.menu-container {
    width: 150px;
    max-width: 150px;
    height: 100%;
    background-color: green;
    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            position: relative;
            a {
                display: block;
                color: black;
                font-size: 13px;
                text-align: center;
                padding: 15px 30px;
                text-decoration: none;
                &:hover {
                    color: red;
                }
                &.active-nav {
                    font-weight: bold;
                    color: #F5F5F5;
                }
            }
        }
    }
}