<div class="container" *ngIf="recipe">

    <h1>Edit recipe - {{recipe.name}}</h1>
    <form [formGroup]="recipeForm">

        <mat-form-field class="form-field">
            <input type="text" matInput placeholder="Name" formControlName="name">
        </mat-form-field>

        <mat-form-field class="form-field">
            <input type="text" matInput placeholder="Duration" formControlName="duration">
        </mat-form-field>
        <span>min</span>

        <div>
            <mat-form-field>
                <mat-select placeholder="Category" formControlName="category" [(value)]="recipeForm.value.category.value">
                    <mat-option *ngFor="let category of categories" [value]="category.value">
                        {{category.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <div class="ingredients form-group" formArrayName="ingredients">
            <h3>Ingredients</h3>
            <div *ngFor="let ingredient of ingredientsForm.controls; let i=index" [formGroupName]="i">
                <mat-form-field>
                    <input type="text" placeholder="Name" aria-label="Number" matInput formControlName="name" [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let ingr of filteredIngredients[i] | async" [value]="ingr">
                            {{ingr}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="quantity-field">
                    <input type="text" placeholder="Quantity" matInput formControlName="quantity">
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Units" formControlName="unit" [value]="ingredientsForm.value.unit">
                        <mat-option *ngFor="let unit of units" [value]="unit.value">
                            {{unit.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-stroked-button color="warn" *ngIf="ingredientsForm.controls.length>1" (click)="deleteIngredient(i)">Delete</button>
            </div>
            <button mat-stroked-button color="primary" (click)="addIngredient()">Add Ingredient</button>
        </div>

        <div class="steps form-group" formArrayName="steps">
            <h3>Steps</h3>
            <div *ngFor="let step of stepsForm.controls; let i=index" [formGroupName]="i">
                <h4 class="step-number">Step {{i+1}}</h4>
                <div>
                    <mat-form-field class="step-description">
                        <textarea rows="5" type="text" placeholder="Description" matInput formControlName="description"></textarea>
                    </mat-form-field>
                </div>
                <mat-form-field>
                    <input type="text" placeholder="Duration" matInput formControlName="duration">
                </mat-form-field>
                <span>min</span>
                <button mat-stroked-button color="warn" *ngIf="i>0" (click)="deleteStep(i)">Delete</button>
            </div>
            <button mat-stroked-button color="primary" (click)="addStep()">Add Step</button>
        </div>

        <div class="form-group">
            <h3>Upload pictures</h3>
            <input type="file" formControlName="picture">
        </div>
        <div class="buttons">
            <button mat-raised-button (click)="resetForm()">RESET CHANGES</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!recipeForm.valid" (click)="onSave()">SAVE RECIPE</button>
        </div>

    </form>
</div>