<div class="container">
    <h2>List of Recipes</h2>
    <a *ngFor="let recipe of recipes">
        <div class="recipe" [routerLink]="['/recipes', recipe._id]">
            <div class="image ">
                <img src="assets/images/{{recipe.image}} " *ngIf="recipe.image ">
                <img src="assets/images/default.png " *ngIf="!recipe.image ">
            </div>
            <div class="content "><span>Name: </span>{{recipe.name}}
                <div><span>Duration: </span>{{recipe.duration}}</div>
                <div><span>Created on: </span>{{recipe.createdAt | date}}</div>
                <div><button (click)="deleteRecipe(recipe._id, $event) ">Delete</button></div>
            </div>
        </div>
    </a>
    <router-outlet></router-outlet>
</div>