@import '~sass/_variables.scss';
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $headerColor;
    padding: 0 30px;
    h1 {
        a {
            font-family: 'Nunito', sans-serif;
            display: inline-block;
            color: #ffffff;
            margin-right: 40px;
            text-decoration: none;
        }
    }
    .space {
        flex: 1 1 auto;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            float: left;
            a {
                display: block;
                color: #ffffff;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    color: #aac0eb;
                }
                &.link-active {
                    font-weight: bold;
                }
            }
        }
    }
    .profile-icons {
        img {
            height: 40px;
        }
    }
}