<nav>
    <h1>
        <a [routerLink]="['']">Recipes</a>
    </h1>
    <div class="search-bar">
        <input type="text" placeholder="Search a recipe...">
    </div>
    <ul>
        <li *ngFor="let link of links" [hidden]="(link.name == 'Log In' || link.name =='Sign Up') && loggedIn">
            <a routerLink="{{link.url}}" routerLinkActive="link-active">{{link.name}}</a>
        </li>
        <li *ngIf="loggedIn">
            <a (click)="logOut()">Log Out</a>
        </li>
    </ul>
    <div class="space"></div>
    <div class="profile-icons">
        <span *ngIf="loggedIn">{{currentUser?.email}}</span>
        <a [routerLink]="['/profile']">
            <img src="assets/images/cutmypic.png" alt="">
        </a>
    </div>
</nav>